.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: unset;
}

.lista{
    background-color: indigo;
    list-style-type: none;
    color: white;
    width: 75%;
    margin-bottom: 10px;
    border-radius: 20px;
}
.posicionamentoItens{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posicionamentoItens div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}
.posicionamentoItens button{
    margin-right: 40px;
}
.posicionamentoItens img{
    width: 128px;
    height: 128px;
    border-radius: 35px;
}
.posicionamentoItens h4{
    font-size: 30px;
}
.posicionamentoItens button{
    background-color: var(--light-theme);
    cursor: pointer;
    font-size: 24px;
    color: var(--color);
    transition: all 0.3s;
    position: relative;
  
    text-align: center;
    overflow: hidden;
  
    border-radius: 5px;
    box-shadow: 0 6px 30px -10px rgba(#CCCCCC, 1);
     
}
.posicionamentoItens button:hover{
    transform: translateX(5px) translateY(-7px);
    background-color: green;
}

.classModal{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #262222;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    position: fixed;
    top: 30%;
    width: 40%;
    height: 30%;
    margin-left: 32%;
    margin-top: -25px;
    z-index: 1;
}
.classModal strong{
    color: yellow;
}
.classModal span{
    font-size: 23px;
}
.itemModal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}